@charset "utf-8";
/* CSS Document */

body {
	background-color: #413f40;
	background-image: url(../img/images/background.jpg);
	background-repeat: no-repeat;
}

.header{
	color: #000;
}

header p{
	background-color: #fff;
	opacity: 0.6;
	filter:alpha(opacity=60);
}

.header {
	font-family: Century Gothic;
	color: #fff;
}
.header h1{
	color: #fff;
	font-family: 'Playfair Display', serif;
}
@media screen and (min-width: 768px){
.header {
	font-family: Century Gothic;
	color: #000;
}
.header h1 {
	color: #098499;
}
}

div.transbox{
	background-color: #fff;
	opacity: 0.5;
}

.hireme a{
  color: #fd189f;
}

.navbar-brand-portfolio{
  float: left;
  font-size: 1.27em;  
  font-family: 'Yanone Kaffeesatz', sans-serif;
  text-transform:uppercase;
  padding: 4px;
}

.navbar-brand-logo{
max-width:77px;
margin-right:20px;
}

@media screen and (min-width: 768px){
.navbar-brand-portfolio{
  line-height: 20px;
}
.navbar-brand-portfolio a{
color: #fff;
}
}

.showcase a{
	color: #94f3fc;
	font-size: 1.8em;
	font-weight: normal;
}

.showcase h1{
	color: #ff89d1;
	font-family: 'Playfair Display', serif;
	font-size: 4.0em;
}

.showcase dt{
	font-family: Century Gothic;
}

.footer_style{
color: #959494;
}
