@charset "utf-8";
/* CSS Document */

body {
	background-color: #3c3f41;
}
.showcase a{
	color: #94f3fc;
	font-size: 1.8em;
	font-weight: normal;
}
.showcase h1{
	color: #ff89d1;
	font-family: 'Cinzel', serif;
	font-size: 4.0em;
}
.showcase dt{
font-family: Century Gothic;
}

.header{
color: #000;
}
div.transbox{
background-color: #fff;
opacity: 0.5;
}

header p{
background-color: #fff;
opacity: 0.6;
filter:alpha(opacity=60);
}

.header {
font-family: Century Gothic;
color: #fff;
}
.header h1{
color: #fff;
font-family: 'Pacifico', cursive;
}
@media screen and (min-width: 768px){
.header {
font-family: Century Gothic;
color: #000;
}
.header h1 {
color: #098499;
}
}

.headerimage{
	background-image: url(../img/images/portfolioheader.jpg);
	background-repeat: no-repeat;
}
.hireme a{
color: #fd189f;
}
.footer_style{
color: #000;
}